@mixin cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Design {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-position: center;
    background-size: 100%;
    background-position-y: 100%;
    background-position-x: 100%;

    .Nimp {
        position: fixed;
        width: 10em;
        height: 10em;
        background-image: url("");
        background-size: 100%;
        display: none;
    }

    #design-title {
        position: absolute;
        width: 100%;
        top: 1%;
        left: 1em;
        color: #000;
        font-size: 0.9em;
        font-weight: 900;
        text-shadow: 1px 0px 0px rgba(0, 0, 0, 1);
        z-index: 3;
    }

    .design-container {
        width: 73em;
        height: 90em;
        display: grid;
        grid-template-columns: repeat(15, auto);
        grid-template-rows: repeat(13, auto);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        margin-top: 9em;
        margin-bottom: 3em;

        .one-design-container {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            background: var(--colorX);
            grid-column: span 3;
            grid-row: span 3;
            border: 0.1em solid var(--colorX);
            border-radius: 0.2em;
            background-position: center;
            background-position-y: 100%;
            background-position-x: 100%;
            background-size: 102%;
            background-repeat: no-repeat;
            transition-duration: 0.3s;
            color: transparent;
            animation: mymove 5s ease infinite;

            p {
                display: none;
            }

            &:hover {
                transform: scale(1.3);
                z-index: 2;
            }
        }

        @keyframes mymove {
            0% {
                background-color: var(--colorX);
            }

            50% {
                background-color: rgb(73, 72, 72);
            }

            100% {
                background-color: var(--colorX);
            }
        }

        .one-design-container:nth-child(1) {
            background-image: url("./Image/Tableau_1.jpg");
            height: 90%;
            animation-delay: .5s;
        }


        .one-design-container:nth-child(2) {
            background-image: url("./Image/Anna4.jpg");
            grid-row: span 3;
            animation-delay: 1s;
        }

        .one-design-container:nth-child(3) {
            background-image: url("./Image/Boo_1.jpg");
            animation-delay: 1.5s;
            height: 90%;
        }

        .one-design-container:nth-child(4) {
            background-image: url("./Image/Tableau_2.jpg");
            animation-delay: 2s;
        }

        .one-design-container:nth-child(5) {
            background-image: url("./Image/MAKHOU_2.jpg");
            height: 85%;
            animation-delay: 2.5s;
        }

        .one-design-container:nth-child(6) {
            background-image: url("./Image/Anna3.jpg");
            animation-delay: 3s;
        }

        .one-design-container:nth-child(7) {
            background-image: url("./Image/Tableau_3.jpg");
            height: 92%;
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 5;
            grid-row: span 3;
            animation-delay: 3.5s;
        }

        .one-design-container:nth-child(8) {
            background-image: url("./Image/Pape.jpg");
            grid-column-start: 7;
            grid-column-end: 10;
            grid-row-start: 4;
            grid-row-end: 7;
            animation-delay: 4s;

        }

        .one-design-container:nth-child(9) {

            background-image: url("./Image/In-jap.jpg");
            grid-column-start: 10;
            grid-column-end: 13;
            grid-row-start: 4;
            grid-row-end: 7;
            animation-delay: 4.5s;
        }

        .one-design-container:nth-child(10) {
            background-image: url("./Image/No-Mor-Eyes-On-Me-5\ \(6\)-min.jpg");
            grid-column-start: 13;
            grid-column-end: 16;
            grid-row-start: 4;
            grid-row-end: 7;
            animation-delay: 5s;
        }

        .one-design-container:nth-child(11) {
            background-image: url("./Image/MOR.jpg");
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 7;
            grid-row-end: 10;
            animation-delay: 0.5s;
        }

        .one-design-container:nth-child(12) {
            background-image: url("./Image/Paper_3.jpg");
            grid-row: span 4;
            height: 86%;
            animation-delay: 1s;
        }

        .one-design-container:nth-child(13) {
            background-image: url("./Image/Purge3.jpg");
            grid-column: span 3;
            grid-row: span 3;
            animation-delay: 1.5s;
        }

        .one-design-container:nth-child(14) {
            background-image: url("./Image/Purge.jpg");
            grid-column: span 3;
            grid-row: span 3;
            animation-delay: 2s;
        }

        .one-design-container:nth-child(15) {
            background-image: url("./Image/MOR-2-3.jpg");
            height: 90%;
            grid-column-start: 1;
            grid-row-start: 10;
            grid-row-end: 13;
            grid-column: span 3;
            animation-delay: 2.5s;
        }

        .one-design-container:nth-child(16) {
            background-image: url("./Image/Mor-3-2.jpg");
            background-size: 100.5%;
            grid-row: span 4;
            height: 86%;
            animation-delay: 3s;

        }

        // .one-design-container:nth-child(17) {
        //     // background-image: url("./Image/Paper_1.png.jpg");
        //     grid-row: span 2;
        //     animation-delay: 3.5s;
        // }

        // .one-design-container:nth-child(18) {
        //     // background-image: url("./Image/Sonko.jpg");
        //     height: 85%;
        //     animation-delay: 4s;
        // }

        .one-design-container:nth-child(17) {
            background-image: url("./Image/Sonko_2.jpg");
            height: 90%;
            grid-row-start: 10;
            grid-row-end: 13;
            grid-column-start: 10;
            grid-column-end: 13;
            animation-delay: 4.5s;
        }

        .one-design-container:nth-child(18) {
            background-image: url("./Image/Thiame.jpg");
            background-size: 103%;
            animation-delay: 5s;

        }

        .one-design-container:nth-child(19) {
            background-image: url("./Image/INA-MAKOSI-POSTER\ 5.jpg");
            height: 91%;
            animation-delay: .5s;
        }

        .one-design-container:nth-child(20) {
            height: 6%;
            width: 0em;
            opacity: 0;
            animation-delay: 1s;
        }
    }

    .design-presentation-container {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        @include cent();
        top: 0%;
        left: 0%;
        z-index: 5;

        .design-container {
            width: auto;
            height: auto;
            background: var(--colorX);
            background: rgba(36, 36, 36, 0.96);
            border-radius: 0.2em;
            box-shadow: 0px 0.5px 24px rgba(0, 0, 0, 0.2);
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: 100%;
            margin: auto;

            .show-vertical-image {
                margin: 1em;
                margin-right: 0em;
                width: 30em;
                height: 45em;
                background-position: center;
                background-size: 103%;
                background-repeat: no-repeat;
                grid-column: 1;
                grid-row: 1;
                background-size: contain;
            }

            .show-horizontal-image {
                margin: 2em;
                margin-right: 0em;
                width: 50em;
                height: 28em;
                background-position: center;
                background-size: 103%;
                background-repeat: no-repeat;
                grid-column: 1;
                grid-row: 1;
            }

            .show-vertical-image-text {
                width: 20em;
                grid-column: 2;
                grid-row: 1;
                flex-wrap: wrap;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 70% 7% 23%;
                color: var(--color0);

                span {
                    width: 100%;
                    grid-row: 2;
                    font-size: 2em;
                    margin: auto;
                }

                p {
                    width: 90%;
                    font-size: 0.8em;
                    grid-row: 3;
                }
            }

            .close-design {
                position: absolute;
                top: 0.1em;
                right: 0.1em;
                @include cent();
                z-index: 2;
                color: var(--color0);
                background: none;
                font-size: 2em;
                transform: scale(1);
                z-index: 20;
                cursor: pointer;
                border: none;

                &:hover {
                    transform: scale(1.1);
                }

                &:active {
                    transform: scale(1);
                }
            }
        }
    }

    .network {
        width: 100%;
        height: 3em;

        #tel_gMail {
            left: 2%;
            position: absolute;
            max-width: 15em;
            width: 40%;
            font-weight: 700;
            font-size: 0.6em;
            z-index: 3;
            display: flex;
            color: #000;
        }

        .network_container {
            position: absolute;
            right: 2%;
            width: 30%;
            height: 2em;
            display: flex;
            justify-content: space-around;
            align-items: center;
            z-index: 3;
            color: var(--colorX);
            filter: url(#noise);

            a {
                color: var(--colorX);

                &:hover {
                    transform: scale(1.5);
                    color: #000;
                }

                &:active {
                    transform: scale(0.9);
                }

                .network {
                    width: 1.5em;
                    height: 1.5em;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 1.1em;
                    cursor: pointer;
                }
            }
        }
    }
}

//?#########################################################

@media all and (max-width: 1000px) {
    #Design {
        // background-image: url(./Image/Back_1.png);
        background-position: center;
        background-size: 100%;
        // overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden;

        #design-title {
            left: 0em;
            text-align: center;
        }

        .design-container {
            width: 73%;
            height: 200em;
            display: flex;
            flex-wrap: wrap;
            margin-top: 5em;

            .one-design-container:nth-child(n) {
                background-size: 100%;
                width: 12em;
                height: 18em;
                margin: auto;
                box-shadow: 0px 0.1px 24px rgba(0, 0, 0, 0.2);
            }

            .one-design-container:nth-child(1) {
                left: -13%;
                height: 16em;
                z-index: 2;
            }

            .one-design-container:nth-child(2) {
                left: 23%;
                top: -10em;
            }

            .one-design-container:nth-child(3) {
                // width: 11em;
                top: -16em;
                left: -13%;
                height: 16em;
                // z-index: 1;
            }

            .one-design-container:nth-child(4) {
                // left: -13%;
                top: -19em;
                left: 23%;
            }

            .one-design-container:nth-child(5) {
                top: -25em;
                left: -13%;
                height: 17em;
                background-size: 117%;
                background-position-x: -1.5em;

            }

            .one-design-container:nth-child(6) {
                left: 23%;
                top: -35em;
                height: 17em;
            }

            .one-design-container:nth-child(7) {
                top: -40em;
                height: 16em;
                left: -13%;
            }

            .one-design-container:nth-child(8) {
                top: -42em;
                left: 23%;
            }

            .one-design-container:nth-child(9) {
                top: -50em;
                height: 17.5em;
                left: -13%;
            }

            .one-design-container:nth-child(10) {
                top: -55em;
                height: 17em;
                left: 23%;
            }

            .one-design-container:nth-child(11) {
                top: -64em;
                left: -13%;
            }

            .one-design-container:nth-child(12) {
                top: -67em;
                height: 17em;
                left: 23%;
            }

            .one-design-container:nth-child(13) {
                top: -72em;
                height: 17em;
                left: -13%;
            }

            .one-design-container:nth-child(14) {
                top: -77em;
                height: 17em;
                left: 23%;
            }

            .one-design-container:nth-child(15) {
                top: -80em;
                height: 16em;
                left: -13%;
            }

            .one-design-container:nth-child(16) {
                top: -89em;
                left: 23%;
                height: 20.8em;
            }

            .one-design-container:nth-child(17) {
                top: -98em;
                left: -13%;
                height: 16em;
            }

            .one-design-container:nth-child(18) {
                top: -106em;
                height: 17em;
                left: 23%;
            }

            .one-design-container:nth-child(19) {
                top: -114em;
                height: 16.6em;
            }

            .one-design-container:nth-child(20) {
                top: -124em;
                height: 20em;
                width: 10em;
                opacity: 0;

            }
        }

        .network {
            display: none;
        }

        .design-presentation-container {
            .design-container {
                width: 100vw;
                height: 103vh;
                border-radius: 0em;
                display: grid;
                grid-template-columns: 1 fr;
                grid-template-rows: 2em 70% 30%;
                background: var(--colorX);
                background: rgba(0, 0, 0, 0.806);

                .show-vertical-image {
                    margin: 0em;
                    width: 95%;
                    height: 90%;
                    grid-column: span 2;
                    grid-row: 2;
                    margin: auto;
                    background-color: rgba(11, 11, 11, 0.9);
                    border: 0.3em rgba(11, 11, 11, 0.9) solid;
                    border-radius: 0.2em;
                }

                .show-horizontal-image {
                    margin: auto;
                    grid-column: span 2;
                    grid-row: 2;
                    width: 95%;
                    background-color: rgba(11, 11, 11, 0.9);
                    border: 0.3em rgba(11, 11, 11, 0.9) solid;
                    border-radius: 0.2em;
                }

                .show-vertical-image-text {
                    width: 100%;
                    grid-column: span 2;
                    grid-row: 3;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 30% 70%;
                    color: var(--color0);

                    span {
                        width: 100%;
                        grid-row: 1;
                        text-align: center;
                        font-size: 1.5em;
                    }

                    p {
                        grid-row: 2;
                        width: 100%;
                        margin: none;
                        text-align: center;
                    }
                }


            }
        }
    }
}